.login-container{

    min-height:100vh;

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;

    background:linear-gradient(135deg,#F8FAFC,#EAF6FF);

    padding:30px;

}

.login-logo{

    width:150px;

    margin-bottom:20px;

}

.login-container h1{

    color:var(--primary);

    font-size:2.5rem;

}

#userType{

    margin:15px 0 30px;

    color:var(--light-text);

    font-size:18px;

}

.login-card{

    background:white;

    width:100%;

    max-width:500px;

    padding:35px;

    border-radius:20px;

    box-shadow:var(--shadow);

}

.login-card label{

    font-weight:600;

}

.phone-input{

    display:flex;

    align-items:center;

    border:2px solid #E5E7EB;

    border-radius:14px;

    margin:15px 0 25px;

    overflow:hidden;

}

.phone-input span{

    padding:16px;

    background:#EFF6FF;

    font-weight:600;

}

.phone-input input{

    flex:1;

    border:none;

    outline:none;

    padding:16px;

    font-size:17px;

}

#sendOtp{

    width:100%;

    padding:18px;

    border:none;

    border-radius:16px;

    background:var(--primary);

    color:white;

    font-size:17px;

    cursor:pointer;

}

.note{

    margin-top:20px;

    color:var(--light-text);

    font-size:14px;

    text-align:center;

}