.registration-container{

min-height:100vh;

display:flex;

flex-direction:column;

align-items:center;

padding:50px 20px;

background:linear-gradient(135deg,#F8FAFC,#EAF6FF);

}

.logo{

width:140px;

margin-bottom:20px;

}

.registration-container h1{

font-size:2.5rem;

color:var(--primary);

margin-bottom:10px;

}

.subtitle{

color:var(--light-text);

margin-bottom:40px;

}

.registration-card{

background:white;

width:100%;

max-width:700px;

padding:35px;

margin-bottom:30px;

border-radius:20px;

box-shadow:var(--shadow);

transition:.3s;

text-align:center;

}

.registration-card:hover{

transform:translateY(-5px);

}

.icon{

font-size:55px;

margin-bottom:15px;

}

.registration-card h2{

margin-bottom:15px;

}

.registration-card p{

line-height:1.7;

margin-bottom:25px;

color:var(--light-text);

}

.registration-card button{

width:100%;

padding:18px;

border:none;

border-radius:16px;

background:var(--primary);

color:white;

font-size:17px;

cursor:pointer;

}